:root {
    --bg-gray: #f5f6f7;
    --bg-blue: #2B3647;
    --bg-white: #FFFFFF;
    --bg-urgent: #ff3D00;

    --color-blue: #28ABE2;
    --color-gray: #CDCDCD;
    --color-black: #000000;
    --color-notices: #A8A8A8;

    --fs-h1: clamp(40px, 61px, 82px);
    --fs-h2: clamp(20px, 27px, 34px);
    --fs-standard: clamp(18px, 20px, 24px);
    --fs-options: clamp(16px, 18px, 20px);


}


@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 96px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

/* main { */
/* padding-top: 100px; */
/* background-color: var(--bg-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
} */

main {
    background-color: var(--bg-gray);
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-left: 232px;
    /* Platz für Sidebar */
    padding-top: 96px;
    /* Platz für Header */

    width: calc(100% - 232px);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

aside {
    background-color: var(--bg-blue);
    position: fixed;
    min-height: 100dvh;
    width: 232px;
    padding-top: 64px;
    z-index: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-content {
    width: 100%;
    max-width: 1440px;
    font-family: "inter";
    font-size: var(--fs-standard);
    font-weight: 400;
    display: flex;
}

.logo {
    width: 100px;
    height: 120px;
}

.aside-content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.aside-content a {
    padding-bottom: 40px;
    font-family: "inter";
    font-size: var(--fs-options);
    color: var(--color-gray);
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside-content a:hover {
    transform: scale(1.2);
    color: var(--bg-white)
}

/* .main-content {
    padding-top: 100px;
    max-width: 1440px;
} */

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 48px;
    width: 100%;
    align-items: center;
}

@media(max-width: 1920px) {
    .header-content {
        padding-left: 170px;
    }
}

@media(max-width: 1580px) {
    .header-content {
        padding-left: 342px;
    }
}