* {
  font-family: "Inter";
}

dialog {
  width: 1116px;
  height: 870px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.board-head h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
}

.board-head {
  width: 100%;
  height: 232px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px 0 64px;
}

.head-right {
  font-size: var(--fs-standard);
  display: flex;
  flex-direction: row;

}

.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.search-wrapper:focus-within {
  border-color: var(--color-blue);
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--color-black);
}

.search-divider {
  width: 1px;
  height: 24px;
  background-color: #ccc;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
}

.search-button:hover {
  color: #007bff;
  transform: scale(1.2)
}

.search-button:active {
  transform: scale(0.8);
}

.board {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 64px;
  font-size: var(--fs-standard);
  font-weight: bold;
}

.status {
  max-width: 252px;
  min-width: 252px;
  margin: 16px;
  flex: 1;
}


.status-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-black);
  border-radius: 8px;
}

.task-queue {
  margin-top: 24px;
  width: 100%;
}

.notask {
  width: 252px;
  height: 48px;
  color: var(--color-notices);
  border: 2px dashed var(--color-notices);
  border-radius: 10px;
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-dialog {
  border-radius: 16px;
  position: fixed;
  border: 1px solid var(--bg-white);
  ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.task-card {
  box-sizing: border-box;
  width: 252px;
  max-width: 100%;
  background-color: var(--bg-white);
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  cursor: grab;
}

.task-card:active {
  cursor: grabbing;
  transform: rotate(20deg);
}

.task-card.dragging {
  opacity: 0.35;
}

.card-head {
  display: inline-block;
  color: white;
  border-radius: 8px;
  padding: 4px 24px;
  margin-bottom: 24px;
  font-size: var(--fs-options);
  font-weight: 400;
}

.card-head.technical-task {
  background-color: #1fd7c1;
}

.card-head.user-story {
  background-color: #0038ff;
}

.task-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority-icon.urgent {
  color: #ff3d00;
}

.priority-icon.medium {
  color: #ffa800;
}

.priority-icon.low {
  color: #7ae229;
}