.main_contacts {
    background-color: var(--bg-gray);
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 232px;
    padding-top: 96px;
    width: calc(100% - 232px);
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

.dialog_container {
    display: flex;
    width: 90dvw;
    max-width: 1065px;
    height: 40dvh;
    max-height: 580px;

}

.font_inter {
    font-family: 'Inter', sans-serif;
}

.contacts_list_items_container {
    width: calc(100% - 16px);
    display: flex;
    padding: 15px 24px 15px 24px;
    border-radius: 5px;
    gap: 20px;
}

.contacts_list_items_container:hover {
    background-color: #2A3647;
}

.contacts_list_items_container h4 {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.contacts_list_items_container:hover h4 {
    color: #FFFFFF;
}

.contacts_list_items_container p {
    font-weight: 400;
    font-size: 16px;
    color: #007CEE;
    font-family: 'Inter', sans-serif;
}

.contacts_list_name_symbol {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--contact-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contacts_single_view_container {
    width: 70%;
    border: 2px solid red;
    min-height: calc(100dvh - 96px);
    display: flex;
    flex-direction: column;
}

.contacts_list_container {
    width: 30%;
    border: 2px solid red;
    height: calc(100dvh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: #a8a8a8 transparent;
}

.contacts_single_view_header {
    display: flex;
    gap: 10px;
    margin: 80px 0 30px 50px;
    height: 100px;
    align-items: center;
}

.contacts_single_view_header h2 {
    font-size: 61px;
    border-right: 3px solid #29ABE2;
    padding-right: 30px;
    font-weight: 700;
}

.contacts_single_view_header h3 {
    font-size: 27px;
    margin-left: 30px;
    font-weight: 400;
    color: #2A3647;
}

.contacts_list_header{
display: flex;
align-items: center;
background-color: #2A3647;
padding: 8px;
justify-content: center;
width: calc(100% - 16px);
border-radius: 5px;
margin: 16px 0 16px 0;

}

.contacts_list_header h3 {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.contacts_list_letter_seperator {
    height: 60px;
    width: calc(100% - 16px);
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
    flex-shrink: 0;
}

.contacts_single_view_content {
    margin: 0 0 0 50px;
}

.contacts_icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--contact-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 47px;
}

.contacts_single_view_content_header {
    display: flex;
    gap: 45px;
    align-items: center;
}

.contacts_single_view_name {
    font-weight: 500;
    font-size: 47px;
}

.contacts_single_view_actions {
    display: flex;
    margin: 10px 0 0 0;
}

.contacts_single_view_actions button {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #2A3647;
    display: flex;
    align-items: center;
}

.contacts_single_view_actions button img {
    width: 24px;
    margin-right: 8px;
}

.contacts_single_view_information_header {
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

.contacts_single_view_content_information h4{
    font-size: 16px;
    font-weight: 700;

}


.contacts_single_view_email {
    font-size: 16px;
    font-weight: 400;
    
    margin: 15px 0 15px 0;
}

.contacts_single_view_email a {
    color: #007CEE;
}

.contacts_single_view_phone {
    font: 16px;
    font-weight: 400;
    margin: 15px 0 15px 0;
}

.add_contact_dialog {
    /* display: flex; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border: none;
    padding: 0;
    border-radius: 20px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .add_contact_logo_section {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    border-radius: 20px 0 0 20px;
  }

  .add_contact_text_left h3 {
    font-size: 61px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }

  .add_contact_text_left p {
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
  }

  .add_contact_text_left::after {
    content: "";
    position: fixed;
    width: 90px;
    border-bottom: 3px solid #29ABE2;
  }

.add_contact_text_left {
    height: 280px;
}

  .add_contact_form_section {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add_contact_form_container {
    display: flex;
    width: 100%;
  }

  .add_contact_closing_btn {
    position: absolute;
    top: 32px;
    right: 48px;
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
  }

  .add_contact_input_wrapper {
    display: flex;
    align-items: center;
    width: 350px;
    position: relative;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-bottom: 32px;
  }

  .add_contact_input_wrapper input {
    width: 100%;
    border: none;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
  }

  .add_contact_input_wrapper input::placeholder {
    color: #D1D1D1;
  }

  .add_contact_input_wrapper img {
    position: absolute;
    right: 12px;
    pointer-events: none;
  }

  .add_contact_btn_container {
    display: flex;
    gap: 20px;
  }

  .add_contact_btn_submit {
    background-color: #2A3647;
    padding: 10px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    font-family: 'Inter', sans-serif;
  }

  .add_contact_btn_submit span {
    width: 24px;
    height: 24px;
  }

  .add_contact_btn_cancel {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    border: #2A3647 1px solid;
    padding: 10px;
    border-radius: 10px;
  }

  .edit_contact_btn_cancel {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #2A3647;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    border: #2A3647 1px solid;
    padding: 10px 17.5px 10px 17.5px;
    border-radius: 10px;
  }

  .add_contact_btn_cancel span {
    width: 24px;
    height: 24px;
  }

  .add_contact_color_picker {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--contact-color, #D1D1D1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 50px 30px 0 30px;
  }

  .add_contact_color_picker img {
    width: 64px;
    height: 64px;
    pointer-events: none;
  }

  .add_contact_color_picker input[type="color"] {
    display: none;
  }

  .person_initials {
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 43px;
  }

