@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    font-display: swap;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #f6f7f8;
  }

  header {
    max-width: 1440px;
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
    width: calc(100dvw - 60px);
  }

  header span {
    font-size: 20px;
    font-weight: 400;
  }

 header button {
    background-color: #2a3647;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    padding: 16px;
    color: white;
    border: none;
 }

 main {
    height: calc(100dvh - 282px);
    display: flex;
    align-items: center;
 }

 footer {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 16px;
 }

 footer a {
    color: #686868;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
 }

 .login_section {
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding: 48px 115px;
    background-color: #FFFFFF;
    position: relative;
 }

 .login_section h1 {
    font-size: 61px;
    font-weight: 700;
    border-bottom: none;
    background-image: linear-gradient(to right, #29ABE2, #29ABE2);
    background-position: center bottom;
    background-size: 150px 3px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin: 0 0 16px 0;
 }

 .login_section form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .login_input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #686868;
    margin: 8px 0 8px 0;
    border-radius: 10px;
 }
 .login_input_wrapper input {
    width: 344px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    color: #686868;
    font-size: 20px;

 }

 .login_input_wrapper img {
        position: absolute;
        right: 12px;
        pointer-events: none;
 }

 .login_btn_wrapper {
    margin-top: 30px;
    display: flex;
    gap: 35px;
 }

.guest_login_btn {
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    border: #2A3647 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.login_btn {
    background-color: #2A3647;
    padding: 10px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.privacy_checkbox {
    display: flex;
    gap: 8px;
    margin: 25px 0 32px 0;
}

.privacy_checkbox a {
    text-decoration: none;
    color: #124658;
}

.sign_up_btn {
    background-color: #2A3647;
    padding: 15px 24px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.back_to_log_in_btn {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    display: flex;
    position: absolute;
    left: 70px;
}