@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #f6f7f8;
}

header {
    max-width: 1440px;
    margin: 30px auto 30px auto;
    display: flex;
    justify-content: space-between;
    width: calc(100dvw - 60px);
}

header img {
    width: 100px;
    height: auto;
    background-color: #f6f7f8;
}

.sign_up_txt {
    font-size: 20px;
    font-weight: 400;
}

.sign_up_btn {
    background-color: #2a3647;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    padding: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    height: calc(100dvh - 282px);
    display: flex;
    align-items: center;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 16px;
}

footer a {
    color: #686868;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}

.login_section {
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    padding: 48px 115px;
    background-color: #FFFFFF;
    position: relative;
}

.login_section h1 {
    font-size: 61px;
    font-weight: 700;
    border-bottom: none;
    background-image: linear-gradient(to right, #29ABE2, #29ABE2);
    background-position: center bottom;
    background-size: 150px 3px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin: 0 0 16px 0;
}

.login_section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #686868;
    margin: 8px 0 8px 0;
    border-radius: 10px;
}

.login_input_wrapper input {
    width: 344px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 15px;
    color: #686868;
    font-size: 20px;

}

.login_input_wrapper img {
    position: absolute;
    right: 12px;
    pointer-events: none;
}

.login_btn_wrapper {
    margin-top: 30px;
    display: flex;
    gap: 35px;
}

.guest_login_btn {
    font-size: 21px;
    font-weight: 700;
    color: #2A3647;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    border: #2A3647 1px solid;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.login_btn {
    background-color: #2A3647;
    padding: 10px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.privacy_checkbox {
    display: flex;
    gap: 8px;
    margin: 25px 0 32px 0;
}

.privacy_checkbox input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid #2A3647;
    appearance: none;
}

input[type="checkbox"]:checked {
    background: black;
  }
  
input[type="checkbox"]:checked::after {
    content: "✓";
    color: white;
    display: block;
    text-align: center;
    line-height: 14px;
}

.privacy_checkbox p {
    font-size: 16px;
    font-weight: 400;
    color: #686868;
}

.privacy_checkbox a {
    text-decoration: none;
    color: #124658;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.sign_up_btn {
    background-color: #2A3647;
    padding: 15px 24px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.back_to_log_in_btn {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    display: flex;
    position: absolute;
    left: 70px;
    cursor: pointer;
    top: 70px;
}

.hidden {
    display: none !important;
}

.sign_up_success_dialog {
    position: fixed;
    top: 0px;
    background-color: #2A3647;
    color: white;
    font-size: 20px;
    font-weight: 400;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
}

dialog::backdrop {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
}

.alert_log_in {
    border: 2px solid #FCA5A5;
    border-radius: 10px;
    padding: 10px;
    background-color: #FEE2E2;
    color: #991B1B;
}

.alert_sign_up {
    border: 2px solid #FCA5A5;
    border-radius: 10px;
    padding: 10px;
    background-color: #FEE2E2;
    color: #991B1B;
    margin-bottom: 30px;
}

.sign_up_btn_wrapper_footer {
    display: none;
}

.sign_up_btn_wrapper_header {
    display: flex;
    gap: 35px;
    align-items: center;
}

@media (max-width: 588px) {
    .login_section {
        padding: 48px 50px;
    }
    .back_to_log_in_btn {
        left: 50px;
    }

    
}

@media (max-width: 462px) {
    .login_section {
        padding: 16px 16px;
    }
    .login_section h1 {
        font-size: 47px;
    }
    .login_input_wrapper input {
        width: 280px;
    }
    .login_btn_wrapper {
        margin-top: 16px;
        gap: 8px;
        flex-direction: column;
    }
    .guest_login_btn {
        width: 180px;
        justify-content: center;
    }
    .login_btn {
        width: 180px;
        justify-content: center;
    }
    header img {
        width: 64px;
    }
    header {
        height: 80px;
    }
    .sign_up_btn_wrapper_header {
        display: none;
    }
    main {
        height: calc(100dvh - 190px);
    }
    .sign_up_btn_wrapper_footer {
        display: flex;
        gap: 35px;
        align-items: center;
    }
    footer {
        flex-direction: column;
        gap: 35px;
        height: 110px;
    }
    .back_to_log_in_btn {
        left: 20px;
        top: 30px;
    }
   

}

@media (orientation: landscape) and (max-height: 590px) {
    body {
        min-height: 584px;
    }
    main {
        min-height: 394px;
    }
    .login_section h1 {
        font-size: 47px;
    }
    .login_section {
        padding: 16px 16px;
    }
    .login_input_wrapper input {
        width: 280px;
    }
    .login_btn_wrapper {
        margin-top: 16px;
        gap: 8px;
        flex-direction: column;
    }
    .guest_login_btn {
        width: 180px;
        justify-content: center;
    }
    .login_btn {
        width: 180px;
        justify-content: center;
    }
    header img {
        width: 64px;
    }
    header {
        height: 80px;
    }
    .sign_up_btn_wrapper_header {
        display: none;
    }
    .sign_up_btn_wrapper_footer {
        display: flex;
        gap: 35px;
        align-items: center;
    }
    footer {
        flex-direction: column;
        gap: 35px;
        height: 110px;
    }
    .back_to_log_in_btn {
        left: 20px;
        top: 30px;
    }
}