header {
    align-items: center;
}

.mobile-joinLogo {
    display: none;
}

.header-content {
    width: calc(720px - 232px);
}


@media (max-width: 935px) {
    .full-card h1 {
        font-size: 36px;
    }
}

@media (max-width: 820px) {
    aside {
        display: none;
    }

    main {
        width: 100%;
        padding-top: 48px;
        margin: 0;
    }

    .header-content {
        display: none;
    }

    .mobile-joinLogo {
        display: flex;
        position: fixed;
        left: 16px;
    }

    .main-content {
        padding: 24px;
        padding-top: 32px;
    }
}

@media (max-width: 535px) {
    .full-card h1 {
        font-size: 24px;
    }

    .full-card h2 {
        font-size: 20px;
    }

    .legal-card {
        padding: 16px;
    }
}

@media (max-width: 425px) {
    .full-card h1 {
        font-size: 18px;
    }

    .full-card h2 {
        font-size: 18px;
    }

    .main-content {
        padding-left: 16px;
        padding-right: 16px;
    }
}